WHATSAPP_TOKEN=tu_token_de_acceso_aqui
PHONE_NUMBER_ID=tu_phone_number_id_aqui
VERIFY_TOKEN=elige_una_palabra_secreta
OWNER_PHONE=tu_numero_de_whatsapp_aqui
LOGO_URL=https://link-a-tu-logo.jpg
PORT=3000